


h1, h2, h3 {
    margin: 0;
}

nav {
    background: var(--color-background);
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: #f2f2f2;
    margin: 10px;
    display: inline-block;
}

nav h1 {
    color: var(--color-accent-foreground);
}

.page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* media grid */
.media-grid {
     @apply flex flex-wrap gap-3 relative w-full max-md:justify-center mx-auto
}

.media-card {
    @apply w-65
}

.card {
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    @apply max-w-[160px]
}

.media-card .rating {
    @apply absolute top-3 bg-accent/80 text-accent-foreground px-3 py-1 rounded-full text-sm font-bold
}

/* forms */
form {
    background: #fff;
    padding: 20px;
    max-width: 480px;
    margin: 0 auto;
    border-radius: 6px;
}

form input, form textarea {
    display: block;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 10px 0 15px 0;
}

.message {
    @apply text-sm font-bold;

    &.error {
        @apply text-error text-right;
    }

    &.loading {
        @apply text-center;
        margin-top: 40px;
    }
}
