# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# yt-dlp
server/assets/media-tools/

# bgutil dependencies
bgutil-ytdlp-pot-provider/server/node_modules/

# Environment
.env
.env.*
!.env.example

# Nuxt
.nuxt/
.output/

# Vercel
.vercel/

# OS
Thumbs.db
cookies.txt
cookies.base64.txt

.vercel
.env*
